ion-content {
  --background: var(--ion-color-light);
}

ion-toolbar {
  --background: var(--ion-color-primary);
}

ion-buttons.md,
ion-buttons.ios {
  margin: 2%;
}

Ion-menu-button.md {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgb(247, 247, 247);
  color: rgb(247, 247, 247);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
Ion-menu-button.ios {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  color: rgb(247, 247, 247);
  border-radius: 5px;

  transition: all 0.3s ease-in-out;
}
Ion-menu-button.ios Ion-menu-button:hover {
  box-shadow: 0px 0px 30px rgb(80, 80, 204);
  transition: all 0.3s ease-in-out;
}

Ion-menu-button:active {
  box-shadow: 0px 0px 12px rgb(67, 29, 236);
  transition: all 1ms ease-in-out;
  border: none;
}
